.productTile {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.image {
  width: 100%;
  height: 80%;
  /* height: 56.25%; */
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
