.section {
  min-height: 100%;
  width: 100%;
}

.layout {
  position: relative;
  padding: 100px 0;
  min-height: 100vh;

  width: 80%;
  max-width: var(--max-container-width);
  left: 50%;
  transform: translate(-50%);
}

.emptySection {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.emptyContainer {
  padding-top: 100px;
  font-size: 1rem;
  position: relative;
  left: 0%;
  top: 0;
  width: 80%;
  max-width: var(--max-container-width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  position: relative;
  top: -20vh;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
