.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.label {
  text-align: left;
}
.container {
  text-align: center;
  font-size: 1rem;
  position: relative;
  left: 0%;
  top: 0;
  width: 80%;
  max-width: var(--max-container-width);
}

.form {
  height: 400px;
  width: 100%;

  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
}

.submit {
  border: 1px solid rgb(109, 108, 108);
  padding: 10px;
  background-color: transparent;
  margin-top: 1rem;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
