.landing {
  min-height: 100vh;
  padding: 100px 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 100px;
}

.sectionContainer {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 80%;
  max-width: 1000px;
}

.landingText {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s;
}

.imgOuter {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.598);
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
  height: calc(100vh - 200px);
  overflow: hidden;
}

.imgInner {
  position: absolute;
  inset: 0;
  background-image: url("https://dr.savee-cdn.com/things/6/0/6dd911784105052ae0e04c.jpg");
  background-position: center;
  background-size: cover;
}

.tile {
  /* opacity: 0; */
  transition: 0.5s;
}

.tile:nth-of-type(odd) {
  width: 100%;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.tile:nth-of-type(even) {
  width: 100%;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
.tile:nth-of-type(even) .tileInfo {
  order: 2;
}

.tile > div {
  position: relative;
}

.tileInfo {
  background-color: #d7d7d7;
  padding: 1rem;
}

.tileImage > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* filter: grayscale(90%); */
}

.shopCTA {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.shopCTA:hover {
  opacity: 0.7;
}

.shopCTA h4 {
  color: #383838;
}

.logo {
  font-size: 6rem;
  font-family: "hallywood";
}
