.landing {
  min-height: 100vh;
  padding: 100px 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 100px;
}

.sectionContainer {
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 80%;
  max-width: var(--max-container-width);
}

.landingText {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 2s;
}

.imgOuter {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.598);
  border-radius: 8px;
  width: 80%;
  max-width: var(--max-container-width);
  height: calc(100vh - 200px);
  overflow: hidden;
}

.imgInner {
  position: absolute;
  inset: 0;
  background-image: url("https://dr.savee-cdn.com/things/6/0/6dd911784105052ae0e04c.jpg");
  background-position: center;
  background-size: cover;
}

.tile {
  transition: 0.5s;
}

.tile:nth-of-type(odd) {
  width: 100%;
  min-height: 300px;
  margin: 2rem 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.tile:nth-of-type(even) {
  width: 100%;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}
.tile:nth-of-type(even) .tileInfo {
  order: 2;
}

.tile > div {
  position: relative;
}

.tileInfo {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
}

.tileImage > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shopCTA {
  background-color: var(--main-bg-color);
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.shopCTA:hover {
  opacity: 0.7;
}

.shopCTA h4 {
  color: #383838;
}

.logo {
  font-size: 6rem;
  font-family: "hallywood";
}

@media only screen and (max-width: 800px) {
  .tile:nth-of-type(odd) {
    width: 100%;
    min-height: 450px;
    margin: 10px 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .tile:nth-of-type(even) {
    width: 100%;
    min-height: 450px;
    margin: 10px 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
  }

  .tile:nth-of-type(even) .tileInfo {
    order: 1;
  }
  .tile:nth-of-type(odd) .tileInfo {
    order: 1;
  }

  .logo {
    font-size: 5rem;
  }
  .landingText {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .imgOuter {
    width: 90%;
  }
  .sectionContainer {
    width: 90%;
  }
}
